<div renderMarkdown>
# Css styles

Css styles is *sass/scss* library/package providing common css classes, mixins and functions for easier creation of themes and uniform looking applications.

Consists of several packages.

- [&#64;css-styles/common](https://www.npmjs.com/package/&#64;css-styles/common)
- [&#64;css-styles/themes](https://www.npmjs.com/package/&#64;css-styles/themes)
- additionaly custom themes can be defined over these two packages

## &#64;css-styles/common

&#64;css-styles/common provides some basic miscellaneous and utility css classes, mixins, functions and variables.

Documentation, for common styles, mixins, functions.

- [Misc](common-misc)
- [Mixins](common-mixins)
- [Functions](common-functions)
- [Vars](common-vars)

## &#64;css-styles/themes

&#64;css-styles/themes provides default theme and mixins and functions for its customization.

Documentation, examples and usage for types of styles available in themes.

- [Blocks](blocks)
- [Buttons](buttons)
- [Forms](forms)
- [Inputs](inputs)
</div>
