<div class="flex-row flex-end margin-top-medium">
    <button type="button" class="btn-icon text-left margin-top-big" goBack [title]="'back' | firstUppercaseLocalize">
        <span class="fas fa-arrow-left"></span>
        <span>{{'back' | firstUppercaseLocalize}}</span>
    </button>
</div>

<div renderMarkdown>
# Blocks

Visual building blocks for creating content. 

- `primary-block` primary block used for displaying main content
- `secondary-block` secondary block used for displaying main content with in different look
- `highlight-block` allows highlighting content inside of primary or secondary block

## Primary block

- **properties**
    - *padding* top and bottom
    - *background color*
    - *font color* 
    - *scrollbar color*
- **customization**
    - *background color* => `primary.background`
    - *font color* => `primary.foreground`
    - *scrollbar color* => `primary.scrollbar`
        - **global**
            - *padding* => `sizeXs`

### **EXAMPLE**
</div>

<div showSource class="html-sample">
    <div class="html-sample-margin flex-1" withTheme showSourceContent>
        <div class="primary-block">
            <div>Text displayed inside of block.</div>
        </div>
    </div>
</div>

<div renderMarkdown>
## Secondary block

- **properties**
    - *padding* top and bottom
    - *background color*
    - *font color* 
    - *scrollbar color*
- **customization**
    - *background color* => `secondary.background`
    - *font color* => `secondary.foreground`
    - *scrollbar color* => `secondary.scrollbar`
        - **global**
            - *padding* => `sizeXs`

### **EXAMPLE**
</div>

<div showSource class="html-sample">
    <div class="html-sample-margin flex-1" withTheme showSourceContent>
        <div class="secondary-block">
            <div>Text displayed inside of block.</div>
        </div>
    </div>
</div>

<div renderMarkdown>
## Highlight block

- **properties**
    - *padding*
    - *background color*
    - *font color* 
    - *scrollbar color*
    - *border radius*
- **customization**
    - *background color* => `block.background`
    - *font color* => `block.foreground`
    - *scrollbar color* => `block.scrollbar`
        - **global**
            - *padding* => `sizeXs`
            - *border radius* => `borderRadius`

### **EXAMPLE**
</div>

<div showSource class="html-sample">
    <div class="html-sample-margin flex-1" withTheme showSourceContent>
        <div class="highlight-block">
            <div>Text displayed inside of block.</div>
        </div>
    </div>
</div>

<div class="flex-row flex-end margin-top-medium">
    <button type="button" class="btn-icon text-left margin-top-big" goBack [title]="'back' | firstUppercaseLocalize">
        <span class="fas fa-arrow-left"></span>
        <span>{{'back' | firstUppercaseLocalize}}</span>
    </button>
</div>