.content
{
    display: grid;

    flex: 1;
    min-height: 0;
    min-width: 0;
    overflow: hidden;

    .main-content
    {
        display: flex;
        flex-direction: column;
        min-height: 0;
        min-width: 0;
    }
}
