@use 'sass:color';
@use 'sass:map';

//############## AVAILABLE COLORS ##############



//############## DEFAULT THEME ##############

$_defaultTheme:
(
    page:
    (
        background: #aaa,
    )
);

@function defineTheme($theme: ())
{
    $theme: map.deep-merge($_defaultTheme, $theme);

    @return $theme;
}
