@use 'sass:color';

//############## FONT ##############

$fontSize: 14px;

//############## LIGHT THEME ##############

$appTheme:
(
    page:
    (
        background: #f5f5f5,
    )
);